/* === Componenent / Landing / MediaQueries=== */
@import url("../css/mediaQuerie/mediaQueries.css");
@import url("/eCommerce/css/component/nav.css");
@import url("../css/component/webStyle.css");
@import url("/eCommerce/css/component/slider.css");
@import url("/eCommerce/css/component/features.css");
@import url("/eCommerce/css/component/product.css");
@import url("/eCommerce/css/component/gallery.css");
@import url("../css/keyframe/animation.css");
/* === ROOT === */
:root {
  /*Color*/
  --clr-white: #fff;
  --clr-black: #000;
  --clr-blacTwo: #333;
  /*Fonts*/
  --font-tall: 2.4rem;
  --font-title: 1.8rem;
  --font-medium: 1.6rem;
  --font-small: 1.2rem;
  /*Margin*/
  --margin: 0 auto;
  --margin-right: 1rem;
  --margin-left: 1rem;
  --margin-top: 2rem;
  --margin-bottom: 2rem;
  /*font-2*/
  --font-familyTwo: "Prompt", sans-serif;
}
/* === General Project === */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  /*  scroll-behavior: smooth; */
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  cursor: pointer;
}
img {
  /* width: 100%; */
  /* height: 100%; */
  object-fit: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
p,
span {
  letter-spacing: 0.1rem;
  font-weight: 500;
}
h1 {
  text-transform: uppercase;
  font-weight: 700;
}
body {
  width: 100%;
  font-family: "Lato", sans-serif;
  /* font-family: 'Prompt', sans-serif; */
}
