/*-------------------------------------*/
/*Css Media Queries*/
/*------------------------------------*/
@import url("/cssGrid/css/mediaQuerie/mediaQueries.css");
/*-------------------------------------*/
/*Css Class*/
/*------------------------------------*/
@import url("/cssGrid/css/cssClass/classCSS.css");
/*-------------------------------------*/
/*Css components*/
/*------------------------------------*/
@import url("/cssGrid/css/components/mainComponents.css");
/*-------------------------------------*/
/*Css root*/
/*------------------------------------*/
:root {
  --clr-white: #ffffff;
  --clr-black: #000000;
}

/*-------------------------------------*/
/*Css Style General*/
/*------------------------------------*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  object-fit: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
