/*-------------------------------------*/
/*Css Component*/
/*------------------------------------*/
@import url(/css/mediaQuerie/projectQueries.css);
@import url(/css/components/projectComponent.css);

/*-------------------------------------*/
/*Css root*/
/*------------------------------------*/
:root {
  --clr-white: #ffffff;
  --clr-black: #000000;
  /*Font Family*/
  --font-title: "Montserrat", sans-serif;
  --font-text: "Bellefair", serif;
}

/*-------------------------------------*/
/*Css Style General*/
/*------------------------------------*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  object-fit: cover; /*Se ajusta al tamaño especificado*/
  /* object-fit: contain; */ /*Se ajusta al contenedor*/
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
body {
  width: 100%;
  /* font-family: 'Bellefair', serif; */
  /* font-family: 'Lato', sans-serif; */
  /* font-family: 'Montserrat', sans-serif; */
  /* font-family: 'Roboto', sans-serif; */
}
main {
  /*  border: 4px solid red; */
  width: 100%;
  /* max-width: 1200px; */
  margin: 0 auto;
}
.hero-container {
  display: grid;
  margin: 0 auto;
  /* grid-template-columns: repeat(2, minmax(360px, 1fr)); */
  /*  gap: 1rem; */
  border: 4px solid red;
}
.food-info {
  display: grid;
  /* grid-template-columns: 1fr; */
  /* grid-template-rows: repeat(3, 1fr); */
  /* gap: 0.5rem; */
  place-items: center;
}
.hero-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  font-family: var(--font-title);
}
.hero-text {
  font-family: var(--font-text);
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  /* letter-spacing: 0.1rem; */
  color: #333;
}

figure .hero-img {
  width: 100%;
  object-fit: contain;
  height: 100%;
}

/* == Dishes ==*/
.dishes {
  margin: 2rem auto;
  border: 4px solid black;
}
.dishes-title {
  color: #333;
  text-align: center;
  text-transform: uppercase;
}
.dishes-grid {
  display: grid;
  /*  grid-template-columns: repeat(4, minmax(150px, 200px)); */
  /*  grid-auto-rows: 1fr; */
  margin: 0 auto;
}

.dishes-item {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.dishes-item__big {
  /* = Inicia fila / Inicia columna / termina fila / termina columna = */
}

/* MENU */
.menu {
  border: 5px solid violet;
  margin: 2rem auto;
}
.menu-title {
  color: #333;
  text-align: center;
  text-transform: uppercase;
}
.menu-grid {
  display: grid;
  grid-template-columns: repeat(5, minmax(100px, 250px));
  margin: 0 auto;
  justify-content: center;
  gap: 2.5rem;
}
.menu-grid-item {
  background-color: lightgrey;
  padding: 0.5rem;
  border-top-left-radius: 4rem;
}
.menu-grid-item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
