:root {
  --clr-white: #fff;
  --clr-black: #000;
  --clr-bla1: #333;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* width: 100%; */
  /* height: 100%; */
}
svg {
  fill: rgb(96, 96, 96);
}
body {
  font-family: "Montserrat", sans-serif;
  background: #fff;
}
/* =========================== Part One Navigation ====================*/
.navigation {
  height: 5.6rem;
  display: flex;
  justify-content: space-between;
  padding: 0 1.6rem;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: var(--clr-white);
  border: 2px solid red;
}
.navigation__button {
  border: none;
  padding: 0.5rem 1rem;
  background: transparent;
  cursor: pointer;
  line-height: 0.5rem;
}
.navigation__menu,
.navigation__search,
.navigation__options {
  display: flex;
  align-items: center;
}
.navigation__options .navigation__button {
  margin-right: 0.8rem;
}
.navigation__menu img {
  margin-left: 0.5rem;
}
.navigation__menu__button svg {
  height: 2.4rem;
}
.navigation__search input {
  width: 360px;
  height: 32px;
  border: 1px solid rgb(211, 211, 211);
  font-size: 1.6rem;
  padding: 0.3rem 0.8rem;
  border-radius: 0.5rem;
  outline-color: rgb(97, 97, 97);
}
.navigation__search__icon {
  border: 1px solid rgb(211, 211, 211);
  border-left: none;
  height: 3.2rem;
  width: 6.5rem;
}
.navigation__search__icon:hover {
  background-color: #e4e4e4;
}
.navigation__search__icon svg {
  height: 2rem;
  width: 2rem;
}
.navigation__options {
  display: flex;
}
.navigation__icon {
  width: 2.4rem;
  height: 2.4rem;
}
.navigation__avatar {
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;
  /* background-color: grey; */
  background-image: url(/src/assets/img/one.jpg);
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* =========================== Part Two Content Video ====================*/
/*Chips ==> */
.chips {
  background: var(--clr-white);
  position: fixed;
  display: flex;
  top: 5.6rem;
  right: 0;
  left: 20.4rem;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border: 2px solid red;
}
.chips__item {
  cursor: pointer;
  margin: 1.2rem 1.2rem 1.2rem 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 1.2rem;
  padding: 0 1.2rem;
  line-height: 3rem;
  border-radius: 1.6rem;
}
.chips__item:first-child {
  margin-left: 1rem;
}

.chips__item--selected {
  background-color: var(--clr-black);
  color: var(--clr-white);
}

/*Sidebar ==> */
.sidebar {
  border: 2px solid red;
  width: 20.4rem;
  position: fixed;
  top: 5.6rem;
  left: 0;
  bottom: 0;
  padding: 1.2rem 0;
  height: calc(100vh - 80px);
  overflow-y: scroll;
}
.sidebar__section {
  padding: 0.8rem 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.sidebar__section__link svg,
.sidebar__section__avatar {
  height: 2.4rem;
  width: 2.4rem;
  margin-right: 2.4rem;
}
.sidebar__section h3 {
  padding: 0.8rem 2.4rem;
  font-size: 1.3rem;
  text-transform: uppercase;
  color: rgb(96, 96, 96);
}
.sidebar__section__link {
  display: flex;
  align-items: center;
  height: 4rem;
  color: rgb(3, 3, 3);
  text-decoration: none;
  font-size: 1.4rem;
  padding: 0 2.4rem;
}

.sidebar__section__avatar {
  border-radius: 50%;
  /*  background-color: green; */
  background-image: url(/src/assets/img/three.jpg);
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.sidebar__section__link--selected {
  background-color: rgba(0, 0, 0, 0.1);
  font-weight: 500;
}
.sidebar__section__link--selected svg {
  fill: #f00;
}
/* .sidebar__section__avatar:nth-of-type(2) { */
/*   background-image: url(/src/assets/img/three.jpg); */
/*   object-fit: cover; */
/* } */
.sidebar__section:last-child {
  padding: 1.6rem 2.4rem 0 2.4rem;
}
.sidebar__section:last-child p {
  font-size: 1.2rem;
  color: #909090;
}
.sidebar__section__link--small {
  margin-right: 0.8rem;
  font-size: 1.3rem;
  font-weight: 500;
  color: #606060;
  text-decoration: none;
}

/*<!-- ALL THE VIDEOS -->*/
.feed {
  margin-top: 10.4rem;
  margin-left: 20.4rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 3px solid blue;
}
.feed__item {
  margin: 0 0.8rem 4rem 0.8rem;
}
.feed__item__thumbnail {
  /* width: 306px; */
  width: 100%;
  height: 202px;
  /* background-color: grey; */
  background-image: url(/src/assets/img/four.jpg);
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.feed__item__info {
  display: flex;
  font-size: 1.4rem;
  color: rgb(96, 96, 96);
}
.feed__item__info h3 {
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 0.4rem;
  color: rgb(3, 3, 3);
}
.feed__item__info a {
  text-decoration: none;
  color: unset;
}
.feed__item__info p {
  margin: 0;
}
.feed__item__info__avatar {
  height: 3.6rem;
  width: 3.6rem;
  border-radius: 50%;
  /* background-color: grey; */
  margin: 1.2rem 1.2rem 0 0;
  background-image: url(/src/assets/img/three.jpg);
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.feed__section {
  border-top: 3px solid lightgrey;
  border-bottom: 3px solid lightgrey;
  margin: 24px 35px 48px;
}

.feed__section h2 {
  margin-left: 8px;
}

.feed__section__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
