:root {
  --clr-white: #fff;
  --clr-black: #000;
  --clr-bla1: #333;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Montserrat", sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}
svg {
  fill: rgb(96, 96, 96);
}
