/*-------------------------------------*/
/*Css root*/
/*------------------------------------*/
:root {
  --clr-white: #ffffff;
  --clr-black: #000000;
}

/*-------------------------------------*/
/*Css Style General*/
/*------------------------------------*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  object-fit: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
body {
  width: 100%;
}
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< Con flex box >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
.sectionOne {
  width: 100%;
  height: 80vh;
  border: 4px solid red;
  margin: 2rem auto;
}
@media (max-width: 768px) {
  .container {
    width: 100%;
  }
  .nav {
    min-height: 6rem;
    width: 100%;
    background: rgb(100, 7, 248);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 1rem;
  }
  .nav__menu {
    align-items: center;
    display: flex;
    /*   margin: 0 auto; */
  }
  .nav__menu p {
    font-size: 2rem;
    font-weight: 600;
    color: #ffffff;
  }
  .nav__icons {
    display: flex;
    align-items: center;
  }
  a {
    margin-right: 2rem;
  }
  a i {
    color: #ffffff;
    font-size: 2rem;
  }

  .flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .flex .flex-1 {
    flex: 1 1 150px;
    margin: 5px;
    background-color: blue;
    width: 200px;
    height: 200px;
    border-radius: 1rem;
  }
}
/* =================================== Con CSS GRID ====================================================== */
.sectionTwo {
  width: 100%;
  height: 80vh;
  border: 6px solid red;
  margin: 2rem auto;
}
@media (max-width: 768px) {
  .navGrid {
    width: 100%;
    min-height: 6rem;
    background: rgb(100, 7, 248);
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 1rem;
  }
  .item {
    align-self: center;
    justify-self: center;
  }
  .nav__item--1 {
    grid-column: 1;
  }
  .nav__item--2 {
    grid-column: span 2;
    font-size: 2rem;
    color: #ffffff;
  }
  .nav__item--3 {
    grid-column: 6;
  }
  .nav__item--4 {
    grid-column: 7;
  }
  .nav__item--5 {
    grid-column: 8;
  }
  a i {
    color: #ffffff;
    font-size: 2rem;
  }

  .Newcuadro {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
  }
  .idCuadro {
    width: 150px;
    height: 150px;
    border-radius: 1rem;
    background: red;
  }
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> Segundo Proyecto <<<<<<<<<<<<<<<<<<<<<<<<<<< */
.sectionOnePlus {
  width: 100%;
  height: 80vh;
  border: 4px solid greenyellow;
  margin: 5rem auto;
}
@media (max-width: 768px) {
}

/* = Section Four = */
.sectionFour {
  width: 100%;
  margin: 0 auto;
  min-height: 80vh;
  border: 5px solid pink;
  padding: 1rem;
}
.fourPlay {
  display: grid;
  grid-template-columns: minmax(150px, 25%) 1fr;
  gap: 1rem;
  border: 2px solid violet;
  /* grid-template-rows: auto 1fr auto; */
}
.fourPlay .div {
  background-color: red;
  height: 250px;
  border-radius: 1rem;
}
/* = Section Five = */
.sectionFive {
  width: 100%;
  margin: 2rem auto;
  min-height: 80vh;
  border: 5px solid black;
  padding: 1rem;
}
.containerFive {
  display: grid;
  grid-template-columns: minmax(150px, 1fr);
  grid-template-rows: auto 1fr auto;
  gap: 1rem;
}
.play {
  width: 100%;
  height: 200px;
  background: red;
}
.play:nth-child(1) {
  background: green;
  height: 300px;
}
.play:nth-child(3) {
  background: orangered;
  height: 100px;
}

/* = Section SIX = */
.conteinerSix {
  width: 100%;
  margin: 2rem auto;
  height: 50vh;
  border: 5px solid yellow;
}
.six {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;
  width: 100%;
  height: 100%;
}
.sixPlus {
  grid-column: 1 / 13;
  grid-row: 1 / 3;
  background-color: blue;
}

/* = Section Seven = */
.conteinerSeven {
  width: 100%;
  margin: 2rem auto;
  height: 50vh;
  border: 5px solid black;
}
.seven {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-auto-rows: 1fr;
  gap: 1rem;
  width: 100%;
  height: 100%;
}
.sevenPlus {
  background-color: red;
}

/* = Container eight = */
.containerEight {
  width: 100%;
  height: 50vh;
  border: 5px solid red;
  margin: 2rem auto;
}
.oneCard {
  display: grid;
  place-items: center;
}
