* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  width: 100%;
}

main {
  width: 100%;
}
.container {
  border: 2px solid red;
  width: 90%;
  max-width: 1000px;
  margin: 4rem auto 100px auto;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4rem;
}
.movie {
  text-align: center;
}
.title {
  font-size: 1.6rem;
  font-weight: 600;
  text-align: center;
}
.poster {
  width: 100%;
  min-height: 200px;
  margin-bottom: 1rem;
  border-radius: 1.5rem;
}
