/*Import*/
@import url(/src/css/moonKeyf.css);

/* = General Style = */
:root {
  --clr-white: #fff;
  --clr-black: #000;
  --clr-purple: #8a15ff;
  --clr-blue: #3800e7;
  --clr-ltBlue: #15e0ff;
  --clr-magenta: #d000c5;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
  background: linear-gradient(hotpink, #15e0ff);
}
.scene {
  width: 500px;
  height: 500px;
  position: absolute;
  border: 5px solid red;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.upper {
  width: 100%;
  height: 300px;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  border: 2px solid black;
}
.moon {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background-color: deeppink;
  position: absolute;
  bottom: -150px;
  left: 50px;
  border: 5px solid #333;
  box-sizing: border-box;
  opacity: 0.9;
  box-shadow: inset 0 -160px mediumvioletred;
}
.crater1 {
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
  background-color: mediumvioletred;
  top: 20px;
  right: 150px;
  opacity: 0.2;
  border: 1px solid #333;
}
.crater2 {
  width: 50px;
  height: 50px;
  position: absolute;
  border-radius: 50%;
  top: 70px;
  right: 180px;
  background-color: mediumvioletred;
  opacity: 0.2;
  border: 1px solid #333;
}
.cloud1 {
  width: 200px;
  height: 150px;
  position: absolute;
  top: 100px;
  right: -50px;
  animation: float2 4s ease-in-out infinite alternate;
}
.cloud2 {
  width: 200px;
  height: 150px;
  position: absolute;
  top: 0;
  left: 0;
  animation: float1 4s ease-in-out infinite alternate;
}
.circle {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  left: 60px;
  border-radius: 50%;
  background-color: #8a15ff;
}
.circle::before {
  content: " ";
  width: 100px;
  height: 100px;
  position: absolute;
  background-color: #8a15ff;
  border-radius: 50%;
  top: 30px;
  left: -40px;
}
.circle::after {
  content: " ";
  width: 100px;
  height: 100px;
  position: absolute;
  background-color: #8a15ff;
  top: 30px;
  left: 40px;
  border-radius: 50%;
}
.filler {
  width: 145px;
  height: 40px;
  border-radius: 17px;
  position: absolute;
  background-color: #8a15ff;
  top: 90px;
  left: 35px;
  box-shadow: inset 0 -5px #8412f7;
}
