@keyframes float1 {
  from {
    transform: translateX(-70px);
  }
  to {
    transform: translateX(70px);
  }
}
@keyframes float2 {
  from {
    transform: translateX(90px);
  }
  to {
    transform: translateX(-90px);
  }
}
@keyframes twinkle {
  to {
    background-color: deeppink;
  }
}
@keyframes excite1 {
  to {
    transform: rotateZ(-5deg);
  }
}
@keyframes excite2 {
  to {
    transform: rotateZ(5deg);
  }
}
