@keyframes float1 {
  from {
    transform: translateX(-70px);
  }
  to {
    transform: translateX(70px);
  }
}
@keyframes float2 {
  from {
    transform: translateX(90px);
  }
  to {
    transform: translateX(-90px);
  }
}
@keyframes twinkle {
  to {
    background-color: deeppink;
  }
}
@keyframes excite1 {
  to {
    transform: rotateZ(-5deg);
  }
}
@keyframes excite2 {
  to {
    transform: rotateZ(5deg);
  }
}
@keyframes spray {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-100px);
  }
  60% {
    transform: translateY(0);
  }
}
@keyframes blink {
  0% {
    transform: scaleY(0.1);
  }
  5% {
    transform: scaleY(0.1);
  }
  5.1% {
    transform: scaleY(1);
  }
}
