/*====Smartphone====*/
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* Styles */
}
/*Smartphone Landscape*/
@media only screen and (min-width: 321px) {
  /* Styles */
}
/*Smartphone Portrait*/
@media only screen and (max-width: 320px) {
  /* Styles */
}

/*====== IPAD ======*/

/*IPAD Portrait and Landscape*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* Styles */
}

/*====== Desktop and Large Screen ======*/

/*Desktop and Laptop*/
@media only screen and (min-width: 1224px) {
  /* Styles */
}
/*Large Screen*/
@media only screen and (min-width: 1824px) {
  /* Styles */
}

/* ==Mobile burger == */
@media (max-width: 768px) {
  .header {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(2, 1fr);
    /*  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
    grid-template-areas:
      "burger burger logo logo  search  search   icon1 icon2"
      "nsv    nav    nav  nav   nav     nav       nav  nav ";
    gap: 0.5rem;

    flex-direction: column;
    /* align-items: flex-start; */
    /* justify-content: space-evenly; */
  }
  #img-logo {
    grid-area: logo;
  }
  .logo {
    width: 100px;
    height: 50px;
    grid-area: logo;
  }
  .form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: search;
  }
  .form input {
    width: 50%;
  }
  .form .fa {
    margin-right: 0;
  }
  /*Aparezca o desaparezca el menú*/
  .toggle-button {
    display: flex;
    top: 1.75rem;
    width: 2.5rem;
    height: 2.5rem;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
    padding: 0.5rem;
    border-radius: 0.5rem;
    grid-area: burger;
  }
  .toggle-button .bar {
    grid-area: burger;
  }
  .nav {
    display: none;
    width: 100%;
    /*   background-color: #333; */
    /*   backdrop-filter: opacity(25%); */
    grid-area: nav;
  }
  .nav ul {
    width: 100%;
    flex-direction: column;
    height: 100%;
  }
  .nav ul li {
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .nav ul li:hover {
    background: #012030;
  }
  .nav ul li a {
    padding: 0.5rem 1rem;
    font-size: 1.8rem;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
  }
  .nav ul li a:hover {
    color: gray;
  }

  /*With Javascript */
  .nav.active {
    display: flex;
    height: 20rem;
    grid-area: nav;
  }
}
