/*-------------------------------------*/
/*Css root*/
/*------------------------------------*/
:root {
  --clr-white: #ffffff;
  --clr-black: #000000;
}

/*-------------------------------------*/
/*Css Style General*/
/*------------------------------------*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  object-fit: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
body {
  width: 100%;
  margin: 0 auto;
}
main {
  width: 100%;
  margin: 0 auto;
  /* height: 90vh; */
  border: 5px solid black;
}
.container {
  width: 90%;
  max-width: 1000px;
  height: 50vh;
  margin: 2rem auto;
  border: 4px solid red;
  display: grid;
  --auto-grid-min-size: 16rem;
  /* grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr)); */
  grid-template-columns: repeat(
    auto-fit,
    minmax(var(--auto-grid-min-size), 1fr)
  );
  grid-auto-rows: 1fr;
  gap: 1rem;
}

.item {
  border: 2px solid greenyellow;
  margin: 0 auto;
  background: blueviolet;
  width: 100%;
  height: 100%;
}

/*= Wrapper =*/
.wrapper {
  border: 5px solid blue;
  width: 100%;
  /* height: 600px; */
  max-width: 65rem;
  margin: 2rem auto;
  padding: 1rem;
}
.auto-grid {
  --auto-grid-min-size: 16rem;
}

.auto-grid > * {
  max-width: 400px;
}

.auto-grid > * + * {
  margin-top: 1rem;
}

@supports (display: grid) {
  .auto-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size, 16rem), 1fr));
    grid-gap: 1rem;
  }

  .auto-grid > * {
    max-width: unset;
    background-color: yellow;
    width: 100%;
    height: 200px;
  }

  .auto-grid > * + * {
    margin-top: unset;
  }