.hero-btn {
  padding: 1rem;
  background: #000000;
  /*  width: 50%; */
  /*  height: 40%; */
  border: none;
  color: #ffffff;
  margin: 0 auto;
  border-radius: 1rem;
  cursor: pointer;
  /* font-size: 8rem; */
}
.hero-btn:hover {
  background: #ffffff;
  color: #000000;
  border: 2px solid #000000;
}
.hero-btn:active {
  transform: scale(0.9);
}
