.cuadrado {
  width: 100px;
  height: 100px;
  background: red;
  margin: 2rem 0;
}
/* .cuadrado:focus { */
/*   background: blueviolet; */
/*   border: none; */
/*   outline: none; */
/*   transform: scale(1.5); */
/* } */
/* .cuadrado:hover { */
/*   background: blue; */
/*   border: 4px solid black; */
/* } */
/* .cuadrado:active { */
/*   transform: scale(1.5); */
/*   background: black; */
/* } */
.circle {
  width: 100px;
  height: 100px;
  background: black;
  border-radius: 50%;
  margin: 2rem 0;

  animation-name: animate-fade;
  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-fill-mode: backwards;
}
/* .circle::before { */
/*   content: " "; */
/*   border: 2px solid greenyellow; */
/*   width: 15px; */
/*   height: 5px; */
/*   background: yellow; */
/*   margin-left: 5rem; */
/* } */
/* .circle::after { */
/*   content: " "; */
/*   border: 2px solid coral; */
/*   width: 15px; */
/*   height: 5px; */
/*   background: red; */
/* } */

.cuadradoTwo {
  width: 100px;
  height: 100px;
  background: green;
  margin: 2rem 2rem;

  animation: trance 1s 1s backwards;
}

.circles {
  width: 100px;
  height: 100px;
  background: yellow;
  border-radius: 50%;
  margin: 2rem 0;

  animation-name: one-plus;
  animation-duration: 1s;
  animation-delay: 0.8s;
  animation-fill-mode: backwards;
  animation-timing-function: ease-out;
}

.title-one {
  margin: 2rem 2rem;
  font-weight: 600;
  font-size: 4rem;

  animation-name: titles;
  animation-duration: 0.5s;
  animation-delay: 0.5s;
  animation-fill-mode: backwards;
}
/* Pop In */
.title-one .pop {
  animation-name: animate-pop;
  animation-timing-function: cubic-bezier(0.26, 0.53, 0.74, 1.4);
  animation-delay: 0.6s;
}
/* Blur In */
.triangle {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid red;
  margin: 2rem 2rem;

  animation-duration: 0.75s;
  animation-delay: 0.5s;
  animation-timing-function: cubic-bezier(0.26, 0.53, 0.74, 1.48);
  animation-fill-mode: backwards;
  animation-name: animate-blur;
  animation-timing-function: ease;
}
/* Glow In */
.triangleOne {
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-left: 100px solid blue;
  border-bottom: 50px solid transparent;
  margin: 2rem 2rem;

  animation-name: animate-glow;
  animation-timing-function: ease;
  animation-duration: 0.75s;
  animation-delay: 0.5s;
  animation-fill-mode: backwards;
}
.circle-grow {
  width: 100px;
  height: 100px;
  background: black;
  border-radius: 50%;
  margin: 2rem 2rem;

  animate-name: animate-grow;
  /* animation-timing-function: ease; */
  animation-duration: 0.75s;
  animation-delay: 0.5s;
  animation-fill-mode: backwards;
}
.pacman {
  margin: 3rem 2rem;
  width: 0px;
  height: 0px;
  border-right: 60px solid transparent;
  border-top: 60px solid green;
  border-left: 60px solid green;
  border-bottom: 60px solid green;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;

  animation-duration: 0.5s;
  animation-delay: 0.5s;
  animation-fill-mode: backwards;
  animation-name: pacman-splat;
}
