/*Keyframes Animation*/

@keyframes animate-fade {
  0% {
    transform: translateX(0);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(800px);
  }
}

@keyframes trance {
  0% {
    transform: translateX(0) rotate(0);
    filter: brightness(3);
  }
  50% {
    transform: translateX(1000px) rotate(180deg);
  }
  100% {
    transform: translateX(0) rotate(0);
    filter: brightness(1);
  }
}

@keyframes one-plus {
  0% {
    opacity: 0;
    filter: brightness(3) saturate(3);
    transform: scale(0.8, 0.8);
  }
  100% {
    opacity: 1;
    filter: brightness(1) saturate(1);
    transform: scale(1, 1);
  }
}

@keyframes titles {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes animate-pop {
  0% {
    opacity: 0;
    transform: scale(0.5, 0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}

@media screen and (prefers-reduced-motion: reduce) {
  .animate {
    animation: none !important;
  }
  .cuadradoTwo {
    animation: none !important;
  }
  .circle {
    animation: none !important;
  }
}
