/* = Import =*/
@import url("/landing/src/css/btn.css");
/* = ROOT =*/
:root {
  --clr-white: #fff;
  --clr-black: #000;
  --clr-black01: #333;
}

/* = General Design =*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  cursor: pointer;
}
img {
  object-fit: cover;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
h1 {
  font-size: 2.4rem;
}
p {
  letter-spacing: 0.1rem;
}
body {
  width: 100%;
  background-color: var(--clr-white);
  overflow: hidden;
  height: 100vh;
  background: #f1f0f0;
  display: grid;
  grid-template-columns: 8rem 1fr 8rem;
  gap: 1rem;
  grid-auto-flow: row;
  grid-auto-rows: 1fr;
  grid-template-areas: "navigation main aside";
}
#navigation {
  grid-area: navigation;
  position: relative;
  margin-top: 5rem;
  /*  border: 4px solid red; */
}
#navigation .nav__list {
  list-style: none;
  text-align: center;
}
#navigation .nav__list .menu-item:last-child {
  margin-bottom: 1rem;
}
#navigation .nav__list .menu-item a {
  font-size: 1.4rem;
  padding: 2.4rem 1.2rem;
  color: #000;
  writing-mode: vertical-rl;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: vertical-rl;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  font-weight: 700;
  cursor: pointer;
}
#navigation .nav__list .menu-item a:hover {
  /* color: #333; */
  /* opacity: 0.5; */
  box-shadow: inset -2px -2px 8px rgba(0, 0, 0, 0.15),
    inset -2px -2px 8px rgba(255, 255, 255, 0.1),
    inset 2px 2px rgba(255, 255, 255, 0.5),
    inset 2px 2px 8px rgba(255, 255, 255, 1);
}

.main {
  grid-area: main;
  display: grid;
  grid-template-rows: 10rem 1fr;
  /*   border: 4px solid black; */
}
.main .header {
  /*  border: 2px solid blue; */
  display: flex;
  align-items: center;
  padding: 1rem 3rem;
}
.main .header .logo {
  height: 6rem;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 600;
}
.logo img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  margin-right: 1rem;
}
.logo h2 {
  font-weight: bold;
  text-transform: uppercase;
}
.main .wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 100px;
  gap: 1rem;
}
.main .wrapper .hero {
  width: 100%;
  height: 100%;
  padding: 5rem 7rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.main .wrapper .hero h1 {
  font-size: 6rem;
  line-height: 140%;
  font-weight: 700;
  margin-bottom: 2.5rem;
}
.main .wrapper .hero p {
  width: 100%;
  font-size: 1.6rem;
  line-height: 2.6rem;
  letter-spacing: 0.1rem;
  margin-bottom: 5rem;
}
/* = lottie = */
.player {
  align-self: center;
  justify-self: center;
  /*  border: 2px solid violet; */
  width: 500px;
}

.mouse-icon {
  color: rgb(178, 168, 178);
}

/*Aside*/
.aside {
  border: 4px solid green;
  grid-area: aside;
}
