.header {
  /* display: grid; */
  /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid yellow;
}
.logo {
  /* margin: 1.5rem clamp(1.5rem, 5vw, 3.5rem); */
  width: 200px;
  height: 50px;
  /* object-fit: cover; */
  object-fit: contain;
  margin-left: 1rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.form {
  display: flex;
}
.form input {
  width: 90%;
  position: relative;
  padding: 1rem 0px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 0.5rem;
  /*Transfom*/
  transform: scaleX(0);
  transform-origin: right;
  transition: 0.5s;
  border-bottom: 1px solid #333;
}
.form input::placeholder {
  font-size: 2rem;
  font-weight: 600;
}
.form .fa {
  position: absolute;
  /* right: 4rem; */
  cursor: pointer;
  color: #ffffff;
  top: 2.5rem;
}
.fa-times {
  display: none;
}

.nav {
  height: 100%;
}
.nav ul {
  display: flex;
  margin: 0 auto;
  padding: 0;
}
.nav li {
  list-style: none;
}
/* .nav li:hover { */
/*   background-color: var(--clr-extraThree); */
/* } */
.nav li a {
  color: var(--clr-white);
  text-decoration: none;
  padding: 1rem;
}

/*= Mobile Burger =*/
.toggle-button {
  /*Aparecer: display: none */
  display: none;
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  flex-direction: column;
  justify-content: space-between;
  width: 3rem;
  height: 2rem;
  /* border: 2px solid yellow; */
}
.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: var(--clr-hslWhite);
  border-radius: 1rem;
}
