#main {
  width: 100%;
  margin: 5rem auto;
  border: 4px solid red;
}

.container {
  width: 90%;
  /* max-width: 1000px; */
  margin: 4rem auto 10rem auto;
  gap: 1rem;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 1fr;
}
.container .movie {
  text-align: center;
}
.container .movie .title {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
}
.container .movie .poster {
  width: 100%;
  min-height: 20rem;
  margin-bottom: 1rem;
  border-radius: 1.5rem;
}
.poster:hover {
  filter: grayscale(1);
  cursor: pointer;
}
.poster:active {
  transform: scale(1.1);
  transition: ease-in-out;
}
