/* Container Movies */
.container {
  width: 90%;
  max-width: 1000px;
  margin: 4rem auto 10rem auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4rem;
  border: 2px solid black;
  padding: 1rem;
}
.container .movie {
  text-align: center;
}
.container .movie .title {
  font-size: 1.6rem;
  font-weight: 700;
}
