/* Container Movies */
.container {
  width: 90%;
  max-width: 1000px;
  margin: 4rem auto 10rem auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4rem;
  border: 2px solid black;
  padding: 1rem;
}
.container .movie {
  text-align: center;
}
.container .movie .title {
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
}
.container .movie .poster {
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 1.5rem;
}
.poster:active {
  transform: scale(1.1);
}
.poster:hover {
  filter: grayscale(1);
  cursor: pointer;
}
.poster :active {
  transform: scale(1.2);
}
.pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;
  /* background: #100a1f; */
  bottom: 0;
  position: fixed;
}
.pagination .btn {
  padding: 1rem;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 6rem;
  width: 6rem;
  cursor: pointer;
  background: #241744;
  border-radius: 10rem;
}
.btn i {
  color: #fff;
  padding: 0.5rem;
  cursor: pointer;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  outline: none;
}
.pagination .btn:hover {
  border: 2px solid #fff;
}
.pagination .btn:active {
  transform: scale(0.9);
}
.btn i:active {
  transform: scale(0.9);
}
