/*Import Containers*/
@import url(/src/css/header.css);
@import url(container.css);
/*Root / Colors*/

/*Basic Styles*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}
body {
  font-family: "Montserrat", sans-serif;
  background: #e0e0e0;
}
.main {
  width: 100%;
  margin-top: 64px;
}
