/*Import Containers*/
@import url(container.css);
/*Root / Colors*/

/*Basic Styles*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}
body {
  font-family: "Montserrat", sans-serif;
  background: #e0e0e0;
}
header {
  width: 100%;
  background-color: #241744;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.main {
  width: 100%;
  margin-top: 64px;
}
