*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --white: #ffffff;
  --black: #000000;
  --very-light-pink: #c7c7c7;
  --text-input-field: #f7f7f7;
  --hospital-green: #acd9b2;
  --sm: 14px;
  --md: 16px;
  --lg: 18px;
}
html {
  font-size: 62.5%;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  width: 100%;
  margin: 0 auto;
  background-color: #ffffff;
}
/* @supports (display: grid;) { */
/*   main { */
/*     width: 100%; */
/*     height: 50vh; */
/*     margin: 2rem auto; */
/*     display: grid; */
/*     grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
/*     border: 5px solid red; */
/*   } */
/* } */
/* main { */
/*   width: 100%; */
/*   height: 50vh; */
/*   margin: 2rem auto; */
/*   display: grid; */
/*   grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
/*   border: 5px solid red; */
/* } */
