/*wrapper*/
.wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: var(--clr-wrapper);
  overflow: hidden;
}
.wrapper figure {
  position: absolute;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  margin-top: -10px;
  filter: brightness(0.5);
}
.wrapper figure img {
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.wrapper .circle__outer {
  position: absolute;
  z-index: 1;
  width: 1500px;
  height: 1500px;
  border: 2px solid var(--clr-white);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  left: 50%;
  /* margin-left: -850px; */
  margin-left: -750px;
  /* margin-top: -850px; */
  margin-top: -750px;
  top: 50%;
}
.wrapper .circle__outer .circle__inner {
  height: 900px;
  width: 900px;
  border: solid rgba(255, 255, 255, 0.5);
  border-radius: inherit;
  /*inner circle--center*/
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper .circle__outer .circle__inner .circle__inner--center {
  height: 450px;
  width: 450px;
  border: solid rgba(255, 255, 255, 0.7);
  border-radius: inherit;
}
.wrapper .landing {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  box-shadow: inset 0 0 300px #000;
  background: radial-gradient(circle, rgba(62, 62, 62, 0) 0%, #000 100%);
}
.wrapper .landing aside {
  height: 100vh;
  width: 80px;
  display: flex;
  flex-direction: column;
  border: 2px solid red;
}
/*Landing*/
.landing aside .disc {
  height: 80px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  border-radius: 0.5rem;
  border: 3px solid #fff;
}
.landing aside .disc i {
  color: #fff;
  font-size: 2.2rem;
}
.landing aside .landing__nav {
  display: flex;
  justify-content: center;
  height: 100vh;
  padding: 4rem 0;
  box-sizing: border-box;
}
.landing__nav .landing__nav--list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}
.landing__nav .landing__nav--list .scroll {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.landing__nav .landing__nav--list li {
  color: #fff;
  list-style: none;
  position: relative;
}
.landing__nav .landing__nav--list li:nth-child(2) {
  border-left: 2px solid rgba(255, 255, 255, 0.5);
  height: 100px;
  top: 20px;
}
.landing__nav .landing__nav--list li:last-child {
  font-size: 0.8rem;
  transform: rotate(-90deg);
  top: 60px;
}
.landing__nav .landing__nav--list li:last-child:hover {
  opacity: 0.5;
}
.landing__nav .landing__nav--list .social {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.landing__nav .landing__nav--list .social li {
  /* margin-top: 50px; */
  margin-top: 20px;
}
.landing__nav .landing__nav--list .social li a {
  color: #fff;
}
/*Section*/
.section {
  width: 100%;
  border: 2px solid blue;
}
.section .header {
  border: 2px solid greenyellow;
  height: 80px;
  padding: 0px 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section .header h1 {
  color: var(--clr-white);
  font-size: 1.2rem;
  font-weight: 700;
}
.section .header h1::after {
  content: " ";
  border: 2px solid var(--clr-extra);
  display: flex;
  height: 2px;
  margin-top: 5px;
  width: 40%;
}
.section .header .header__nav .header__nav--list li {
  float: left;
  margin-left: 5rem;
}
.section .header .header__nav .header__nav--list li a {
  color: var(--clr-white);
  font-size: 1rem;
}
/*content*/
.content {
  position: relative;
  width: inherit;
  display: flex;
  color: #fff;
  height: 75vh;
  color: #fff;
  justify-content: center;
  margin-left: 5%;
}
.content .features {
  width: 25%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  position: relative;
  /* bottom: 80px; */
}
.content .features .feature {
  width: 200px;
  height: 75vh;
  transform: rotate(-90deg);
  transform-origin: bottom;
  margin-top: 1rem;
}
.content .features .feature span {
  display: block;
  margin-bottom: 40px;
  width: 40px;
  height: 4px;
  background-color: var(--clr-extra);
  position: absolute;
  bottom: 30px;
  margin-left: 40px;
}
.content .features .feature .wrap {
  overflow: hidden;
  margin-left: 1.2rem;
}
.content .features .feature .wrap h1 {
  margin-left: 1rem;
  font-size: 15px;
  margin-bottom: 0.4rem;
  color: #fff;
}
.content .features .feature .wrap p {
  font-size: 10px;
  margin-left: 1.2rem;
  line-height: 15px;
  color: #a8a8a8;
}
.content .features .feature:nth-child(2) span {
  /* height: 50px; */
  /* background: red; */
}

.content .theme {
  width: 50%;
  margin-right: 150px;
  position: relative;
  bottom: 140px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content .theme__title {
  text-transform: uppercase;
  /* font-size: 1.5rem; */
  align-self: flex-start;
  overflow: hidden;
  width: 85%;
  height: 20%;
  display: flex;
  justify-content: flex-end;
  align-items: end;
}
.content .theme__title p {
  font-size: 2.5rem;
  font-weight: 700;
  color: #fff;
  font-family: var(--font-family);
}
.content .theme__title p span {
  font-size: 1.5rem;
  padding: 0.5rem;
  font-weight: 500;
  color: var(--clr-extra);
}
.theme__miracle {
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: end;
  width: 100%;
  height: 40%;
}
.theme__miracle .wrap {
  font-size: 7rem;
  font-weight: bold;
}
.theme__miracle p {
  width: 100%;
  height: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.theme .bar {
  width: 500px;
  height: 5px;
  position: absolute;
  margin-bottom: -850px;
  background-color: #505050;
  border-radius: 5px;
  margin-right: 150px;
}
.theme .bar::after {
  content: " ";
  position: absolute;
  width: 75%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--clr-extra);
}
