*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  cursor: pointer;
}
body {
  width: 100%;
  height: 100vh;
  background: #fff;
}
.navigation {
  width: 100%;
  /* height: 20vh; */
  min-height: 5rem;
  display: grid;
  grid-template-columns: 80px 80px 1fr 1fr 1fr;
  gap: 1rem;
  margin: 0 auto;
  border: 4px solid #333;
  grid-template-areas: "logo space menu menu icons";
  position: fixed;
  z-index: 99;
}
.navigation__logo {
  grid-area: logo;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navigation__logo img {
  object-fit: cover;
  width: 35px;
  height: 35px;
}
.navigation__list {
  grid-area: menu;
  width: 100%;
  height: 100%;
}
.navigation__list--menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
}
.navigation__list--menu a {
  font-size: 1.8rem;
  font-weight: 700;
  color: #000;
  /* text-transform: uppercase; */
}
.navigation__list--menu a:hover {
  color: red;
}
/* .navigation__list--menu a:first-child { */
/*   background: red; */
/*   padding: 1rem; */
/*   border-radius: 1rem; */
/* } */
.navigation__icons {
  grid-area: icons;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.navigation__icons--menu {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.navigation__icons--menu a i {
  font-size: 1.5rem;
  color: #000;
}
.navigation__icons--user {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.navigation__icons--user .user {
  width: 30px;
  height: 30px;
  background: gray;
  border-radius: 50%;
  outline: none;
  border: none;
}
.drop a i {
  font-size: 1.5rem;
  color: #000;
  cursor: pointer;
  margin-right: 1rem;
  transition: 0.03s;
}
.drop.active {
  transform: scale(1.1);
  /* transition: transform 0.3 ease-out; */
  transition: 0.3s ease-out;
}
.drop__list {
  position: absolute;
}
.drop__list--media {
  position: relative;
  width: 150px;
  height: 150px;
  /* border: 4px solid blue; */
  border-radius: 1rem;
  background: #fff;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  right: 145px;
  top: 10px;
  z-index: 10;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
}
.drop__list--media.active {
  visibility: visible;
  opacity: 1;
  transition: 0.3s;
  top: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.drop__list--media a i {
  font-size: 1.8rem;
}
.drop__list--media a i:hover {
  opacity: 0.6;
  transform: scale(1.2);
}
.drop__list--media a span {
  font-size: 1.2rem;
  font-weight: bold;
  color: #000;
}
/* = HEADER = */
.header {
  /* border: 2px solid black; */
  width: 100%;
  height: 500px;
  position: relative;
}
.header figure {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  position: absolute;
  z-index: 10;
}
.header figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: brightness(0.6);
}
.header__text {
  position: relative;
  z-index: 20;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
}
.header__text h1 {
  font-size: 4rem;
  font-weight: 700;
  margin-left: 5rem;
  color: #fff;
}
.header__text p {
  font-weight: 500;
  font-size: 1.5rem;
  color: #fff;
  filter: opacity(0.7);
  letter-spacing: 0.1rem;
  margin-left: 5rem;
  width: 60%;
  margin-top: 2rem;
}

/* = Main = */
.main {
  width: 100%;
  margin: 0 auto;
}
.section {
  width: 100%;
  height: 600px;
  margin: 0 auto;
}
.section.One {
  background-color: cyan;
}
.section.two {
  background-color: violet;
}
/*BTN*/
.btn {
  width: 100px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border: none;
  outline: none;
  border-radius: 10px;
  margin-left: 5rem;
  margin-top: 2rem;
  font-size: 1.6rem;
  font-weight: bold;
  color: #000;
  background: #fff;
  cursor: pointer;
}
.btn:hover {
  background: transparent;
  color: #fff;
  border: 4px solid #fff;
}
.btn:active {
  transform: scale(0.9);
}
