.navigation {
  background-color: var(--clr-blacTwo);
  color: var(--clr-white);
  padding: 1rem;
  width: 100%;
  height: 5rem;
}
.nav__top {
  width: 100%;
  max-width: 1250px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: var(--margin);
}
.nav-item {
}
.nav-item__logo {
  width: 100%;
}
.nav-item__logo img {
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.nav-item__search {
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-item__search input {
  width: 100%;
  outline: none;
  border: none;
  padding: 0.5rem;
  border-radius: 2rem;
  background: transparent;
}
.nav-item__search input::placeholder {
  color: #fff;
}
.nav-item__search a {
  font-size: 1rem;
  color: #fff;
  padding: 1rem;
  margin-left: 1rem;
}
.limitedOffer {
  font-size: 1.4rem;
  /* border-bottom: 2px solid green; */
  cursor: pointer;
  font-weight: 400;
  filter: opacity(0.5);
}
.limitedOffer::before {
}
.limitedOffer::after {
  content: " ";
  border: 2px solid green;
  display: flex;
  width: 75%;
  margin-top: 0.5rem;
  border-radius: 0.5rem;
  transition: one 0.3s ease-in-out;
}
/*nav__btn*/
.nav__btn {
  width: 100%;
  position: absolute;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
.nav__btn .nav__btn--list {
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 1rem;
}
.nav__btn .nav__btn--list a {
  cursor: pointer;
  font-weight: 400;
}
.nav__btn .nav__btn--list a span {
  font-size: 1.5rem;
  font-weight: 500;
  color: #fff;
}

/* = Slider =*/
.slider {
  background: url("https://images.unsplash.com/photo-1604147495798-57beb5d6af73?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80");
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
  overflow: hidden;
}
.slider__wrapper {
  display: flex;
  width: 500vw;
}
.slider__item {
  position: relative;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider__img {
  z-index: 1;
}
.slider-Tittle {
  position: absolute;
  color: #fff;
  z-index: 1;
  top: 10%;
  right: 10%;
  font-size: 6rem;
  text-align: center;
  font-weight: bold;
}
.slider-Tittle::after {
  content: " ";
  border: 2px solid #fff;
  display: flex;
  margin-top: 0.5rem;
  border-radius: 1rem;
}
.slider-Price {
  position: absolute;
  top: 10%;
  left: 10%;
  z-index: 1;
  color: #fff;
  font-size: 4rem;
  font-weight: 500;
  text-align: center;
}
.slider-Price::after {
  content: " ";
  border: 2px solid #fff;
  display: flex;
  width: 35%;
  margin-top: 1rem;
  border-radius: 1rem;
}
.btn-buy {
  position: absolute;
  top: 50%;
  right: 10%;
  z-index: 1;
  font-size: 2.5rem;
  padding: 2rem;
  color: #fff;
  border: 1px solid #333;
  background-color: #000;
  cursor: pointer;
  border-radius: 1rem;
}
.btn-buy:hover {
  background: #fff;
  border: #fff;
  color: #000;
}
.btn-buy:active {
  transform: scale(0.9);
}
