.navigation {
  background-color: var(--clr-blacTwo);
  color: var(--clr-white);
  padding: 1rem;
  width: 100%;
  height: 5rem;
}
.nav__top {
  width: 100%;
  max-width: 1250px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: var(--margin);
}
.nav-item {
}
.nav-item__logo {
  width: 100%;
}
.nav-item__logo img {
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.nav-item__search {
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-item__search input {
  width: 100%;
  outline: none;
  border: none;
  padding: 0.5rem;
  border-radius: 2rem;
  background: transparent;
}
.nav-item__search input::placeholder {
  color: #fff;
}
.nav-item__search a {
  font-size: 1rem;
  color: #fff;
  padding: 1rem;
  margin-left: 1rem;
}
.limitedOffer {
  font-size: 1.4rem;
  /* border-bottom: 2px solid green; */
  cursor: pointer;
  font-weight: 400;
  filter: opacity(0.5);
}
.limitedOffer::before {
}
.limitedOffer::after {
  content: " ";
  border: 2px solid green;
  display: flex;
  width: 75%;
  margin-top: 0.5rem;
  border-radius: 0.5rem;
  transition: one 0.3s ease-in-out;
}
/*nav__btn*/
.nav__btn {
  width: 100%;
  position: absolute;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
.nav__btn .nav__btn--list {
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 1rem;
}
.nav__btn .nav__btn--list a {
  cursor: pointer;
  font-weight: 400;
}
.nav__btn .nav__btn--list a span {
  font-size: 1.5rem;
  font-weight: 500;
  color: #fff;
}

/* = Slider =*/
.slider {
  background: url("https://images.unsplash.com/photo-1604147495798-57beb5d6af73?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80");
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
  overflow: hidden;
}
.slider__wrapper {
  display: flex;
  width: 500vw;
}
.slider__item {
  position: relative;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider-Bg {
  width: 750px;
  height: 750px;
  border-radius: 50%;
  position: absolute;
}
.slider__img {
  z-index: 1;
}
.slider-Tittle {
  position: absolute;
  color: #fff;
  z-index: 1;
  top: 10%;
  right: 10%;
  font-size: 6rem;
  text-align: center;
  font-weight: bold;
}
.slider-Tittle::after {
  content: " ";
  border: 2px solid #fff;
  display: flex;
  margin-top: 0.5rem;
  border-radius: 1rem;
}
.slider-Price {
  position: absolute;
  top: 10%;
  left: 10%;
  z-index: 1;
  color: #fff;
  font-size: 4rem;
  font-weight: 500;
  text-align: center;
}
.slider-Price::after {
  content: " ";
  border: 2px solid #369e62;
  display: flex;
  width: 35%;
  margin-top: 1rem;
  border-radius: 1rem;
}
.btn-buy {
  position: absolute;
  top: 50%;
  right: 10%;
  z-index: 1;
  font-size: 2.5rem;
  padding: 2rem;
  color: #fff;
  border: 1px solid #333;
  background-color: #000;
  cursor: pointer;
  border-radius: 1rem;
}
.btn-buy:hover {
  background: #fff;
  border: #fff;
  color: #000;
}
.btn-buy:active {
  transform: scale(0.9);
}

.slider__item:nth-child(1) .slider-Bg {
  background-color: #369e62;
}
.slider__item:nth-child(2) .slider-Bg {
  background-color: rebeccapurple;
}
.slider__item:nth-child(3) .slider-Bg {
  background-color: teal;
}
.slider__item:nth-child(4) .slider-Bg {
  background-color: cornflowerblue;
}
.slider__item:nth-child(5) .slider-Bg {
  background-color: rgb(124, 115, 80);
}

.slider__item:nth-child(1) .slider-Price {
  color: #369e62;
}
.slider__item:nth-child(2) .slider-Price {
  color: #fff;
}
.slider__item:nth-child(3) .slider-Price {
  color: teal;
}
.slider__item:nth-child(4) .slider-Price {
  color: cornflowerblue;
}
.slider__item:nth-child(5) .slider-Price {
  color: cornsilk;
}
/*Feature*/
.features {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 1rem;
  width: 100%;
  margin: 3rem auto;
}
.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.feature-icon {
  width: 5rem;
  height: 5rem;
  cursor: pointer;
}
.feature-title {
  font-size: var(--font-tall);
  font-weight: 600;
  padding: 1rem;
  margin: 0 auto;
}
.feature-Desc {
  width: 50%;
  height: 6rem;
  filter: opacity(0.5);
  text-align: center;
  margin-top: 0.5rem;
  font-weight: 500;
  font-size: var(--font-small);
}

/* = Product =*/
.product {
  height: 100vh;
  width: 100%;
  background-color: rgb(212, 211, 211);
  /*  background-color: #369e62; */
  position: relative;
  clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
  background-image: url("/eCommerce/src/assets/img/shoes.jpg");
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.product-img {
  width: 50%;
}
.product__Details {
  position: absolute;
  top: 10%;
  right: 0;
  width: 40%;
  padding: 1rem;
  margin: 3rem auto;
}
.product-title {
  font-size: 7.5rem;
  font-weight: 900;
  margin: 1rem auto;
  padding: 1rem;
  font-family: var(--font-familyTwo);
}
.product-price {
  margin: 1rem auto;
  font-weight: bold;
}
.product-desc {
  font-size: 25px;
  font-weight: 500;
  padding: 1rem;
  margin: 1rem auto;
  filter: opacity(0.5);
}

.colors,
.sizes {
  display: flex;
  margin: 1rem auto;
  /* border: 2px solid whitesmoke; */
}
.color {
  width: 32px;
  height: 32px;
  border-radius: 0.5rem;
  background-color: #000;
  margin-right: 1rem;
  cursor: pointer;
}
.color:last-child {
  background-color: darkblue;
}
.sizes::after {
  content: " ";
  border: 2px solid #000;
  display: flex;
}
.size {
  border: 1px solid #000;
  margin-right: 1rem;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 400;
  padding: 0.5rem 2rem;
}
.product-btn {
  padding: 1rem 2rem;
  cursor: pointer;
  /* float: right; */
  color: #333;
  font-weight: 500;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 3rem;
  border: none;
  outline: none;
  border-radius: 1rem;
  box-shadow: 1px 10px 30px #000;
}
.product-btn:hover {
  background-color: #000;
  color: #fff;
}
.product-btn:active {
  transform: scale(0.9);
}
/*gallery-One*/
.gallery__One {
  position: relative;
  /* clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%); */
  clip-path: polygon(0 0, 100% 15%, 100% 100%, 0% 100%);
  height: 100vh;
  width: 100%;
  background: black;
  margin: 2rem auto;
}
.gallery__grid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
  padding: 2rem;
}
